# Global Ignore
.idea

# Ignore Contents In These Volumes
volumes/jackett/config/*
volumes/jackett/downloads/*
volumes/mariadb/*
volumes/redis/*
volumes/torrent/config/*
volumes/torrent/completed/*
volumes/traefik/acme/*
volumes/traefik/logs/*
volumes/traefik/rules/*
volumes/traefik/traefik.yaml

# Keep Certain Files In These Volumes
!volumes/jackett/config/.gitkeep
!volumes/jackett/downloads/.gitkeep
!volumes/mariadb/.gitkeep
!volumes/redis/.gitkeep
!volumes/torrent/config/.gitkeep
!volumes/torrent/completed/.gitkeep
!volumes/traefik/.gitkeep
!volumes/traefik/acme/.gitkeep
!volumes/traefik/logs/.gitkeep
!volumes/traefik/rules/.gitkeep

# Ignore Manually Created Files
docker-compose.yml
docker-compose.fpm.yml
docker-compose.roadrunner.yml
settings.yml
move_files.sh