#!/usr/bin/env bash

response=$(curl -sb -H "https://media-api.REPLACE_WITH_DOMAIN/torrent/completed/series");
readarray -t commands <<<"$response"
seriesCounter=0

for i in "${commands[@]}"
do
    if [ ! -z "$i" ]
    then
        eval $i
        seriesCounter=$[seriesCounter +1]
    fi
done

if [ "$seriesCounter" -gt "0" ]; then
    curl -sb -H "https://media-api.REPLACE_WITH_DOMAIN/torrent/sync"
fi

response=$(curl -sb -H "https://media-api.REPLACE_WITH_DOMAIN/torrent/completed/movies");
readarray -t commands <<<"$response"

for i in "${commands[@]}"
do
    if [ ! -z "$i" ]
    then
        eval $i
    fi
done