.border-2 {
    border-radius: 2px;
}
.border-4 {
    border-radius: 4px;
}
.border-6 {
    border-radius: 6px;
}
.border-8 {
    border-radius: 8px;
}
.border-10 {
    border-radius: 10px;
}
.border-12 {
    border-radius: 12px;
}
.border-14 {
    border-radius: 14px;
}
.border-16 {
    border-radius: 16px;
}
.border-18 {
    border-radius: 18px;
}
.border-20 {
    border-radius: 20px;
}
