// Import Global Styles
@import 'text';
@import 'borders';

// Import Custom Elements
@import 'elements/ribbon';

.no-underline {
    text-decoration: none;
}

.equal-cards-height {
    display: flex;
}

.card-block-title {
    color: gray;
    font-size: 12px;
}


.theme--dark {
    .v-sheet {
        .v-toolbar {
            background-color: transparent!important;
        }
    }
    .v-data-table {
        background-color: transparent!important;
    }
}
